.hero{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    padding: 2rem;
    // background-color: #240da8;
    // background-image: linear-gradient(#240da8, #370c70a4);
    background-image: url('/blue-purple-bg.svg');
    // background-repeat: repeat-x;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    // height: 100vh;
    color: #ffffff;
    background-color: #fafafa;

    &__icons{
        width: 100%;
        max-width: 350px;
        justify-content: space-between;
        align-items: center;
    }
    &__title{}
    &__subtitle{}
    &__cta{
        text-decoration: none;
        color: #240c64;
        background-color: #ffffff;
        padding: 1em 1.7em;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
        transition: all 200ms ease-in-out;

        &:hover{
            color: #ffffff;
            background-color: #240c64;
            box-shadow: 0px 0px 6px 0px rgba(255,255,255,0.5);
        }
    }
}